<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Parsing this XML well is a little cryptic to me right now.

    However, moving forward this doc should be editable and allow for the
    configuration of the mongo connector in ./MongoConnector.cs
-->
<config>
    <username>xsi:nil</username>
    <password>xsi:nil</password>
    <host>127.0.0.1</host>
    <port>27017</port>
    <options>
        <DirectConnection>true</DirectConnection>
        <ServerSelectionTimeout>
            <Milliseconds>2000</Milliseconds>
        </ServerSelectionTimeout>
        <ApplicationName>NbaWebApp</ApplicationName>
    </options>
</config>