<form id="player-search-form" method="post" action="/Player/Search">
    <label for="fname">Player First Name:</label>
    <input id="fname" name="fname" type="text">
    <label for="fname">Player Last Name:</label>
    <input id="lname" name="lname" type="text">
    <br>
    <label for="fid">Player Id:</label>
    <input id="fid" name="id" type="text">
    <br>
    <label for="fyear">Year:</label>
    <select id="fyear" name="year">
        @foreach(var opt in (IEnumerable<string>)ViewData["Databases"]) 
        {
            <option>@opt</option>
        }
    </select>
    <br>
    <input type="submit">
</form>